* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFEFD5; }

div.login {
  text-align: center;
  padding: 24px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid darkslategray;
  border-radius: 16px;
  padding: 40px;
  width: 80vw;
  height: 90vh;
  color: gainsboro;
  background-color: darkslategray; }
  div.login h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: darkslategray; }
  div.login form {
    padding: 24px;
    display: grid;
    background-color: darkslategray; }
  div.login label {
    padding: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: darkslategray; }
  div.login input {
    margin: 8px;
    width: 20vw;
    outline: none;
    border-radius: 5px;
    font-weight: 300;
    font-family: 'Lato', sans-serif; }
  div.login button {
    padding: 3px;
    text-transform: uppercase;
    border-radius: 10px;
    width: 16vw;
    margin-top: 8px;
    text-align: center;
    justify-self: center;
    outline: none;
    font-size: 12px;
    font-weight: 400;
    background-color: darkgoldenrod;
    color: whitesmoke;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif; }
  div.login a {
    text-decoration: underline;
    text-decoration-line: 3px;
    text-decoration-color: darkgoldenrod;
    color: black; }
  div.login p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: darkslategray; }
    div.login p a {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      background-color: darkslategray;
      color: gainsboro; }
