* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #FFEFD5; }

body {
  color: darkslategray; }

div {
  position: absolute;
  top: 30%; }

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 6.8px;
  text-transform: uppercase;
  margin-top: 0px;
  padding-top: 40px;
  color: darkslategray; }

svg {
  color: darkslategray;
  height: 50px;
  transform: scale(1);
  transition: all 0.38s ease-in-out;
  cursor: pointer; }

svg:hover {
  transform: scale(1.36);
  color: #d9a5b2; }

nav {
  margin: 16px 24px 32px 24px;
  margin-bottom: 0px; }
  nav ul {
    list-style: none;
    display: inline-flex;
    padding: 0px;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px; }
  nav li {
    padding-right: 8px;
    font-weight: 300;
    color: darkslategray;
    font-size: 18px; }
  nav a {
    text-decoration: none;
    color: darkslategray; }
  nav a:visited {
    color: darkslategray;
    opacity: .8%; }
  nav a:hover {
    border-bottom: darkgoldenrod solid 1px;
    padding-bottom: 3px; }

form {
  text-align: center;
  margin-top: 64px;
  border-bottom: 2px solid darkgoldenrod;
  padding-bottom: 16px;
  margin-right: 144px;
  margin-left: 144px; }
  form input.search {
    width: 75vw;
    padding: 13px;
    border: 2px solid darkslategray;
    background-color: darkslategray;
    color: gainsboro;
    outline: none; }
  form ::placeholder {
    color: gainsboro;
    font-size: 11px;
    font-weight: 200;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif; }

i.fas.fa-search {
  padding-left: 5px;
  font-size: 1.3rem; }

i.fas.fa-chevron-left {
  padding-top: 2px;
  padding-right: 4px; }

button {
  border: none;
  outline: none;
  color: darkslategray;
  padding: 0px; }

button:hover {
  cursor: pointer; }

span.back {
  font-weight: 300;
  text-align: right; }

span {
  display: inline-flex; }

div.results-box {
  padding-top: 24px;
  margin-right: 144px;
  margin-left: 144px;
  display: contents; }
  div.results-box h2 {
    font-weight: 200;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    border-bottom: 2px solid darkgoldenrod;
    padding-bottom: 16px;
    margin-right: 224PX;
    margin-left: 224px;
    margin-bottom: 32px;
    margin-top: 48px; }
  div.results-box ul.results {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-right: 64px;
    margin-left: 64px; }
    div.results-box ul.results li {
      padding-bottom: 5px;
      font-weight: 200;
      font-size: 1.15rem;
      border: 2px solid darkslategray;
      color: gainsboro;
      margin-bottom: 5px;
      background-color: darkslategray;
      padding: 8px; }

table.results {
  width: 55vw;
  text-align: center;
  margin: auto; }

thead {
  text-align: left; }

th {
  padding-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: darkgoldenrod; }

td {
  padding-bottom: 16px;
  cursor: pointer; }
  td a {
    text-decoration: none;
    color: darkslategray; }
  td a:hover {
    text-decoration-color: darkgoldenrod !important;
    text-decoration: underline; }

tbody {
  text-align: left; }
