* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif; }

h1 {
  font-family: 'Manrope', sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 0px; }

nav {
  text-align: right; }
  nav ul {
    list-style: none;
    display: inline-flex; }
  nav li {
    padding-right: 8px; }
  nav a {
    text-decoration: none;
    color: black; }
  nav a:visited {
    color: black; }
