* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #FFEFD5; }

body {
  color: darkslategray; }

div {
  position: absolute;
  top: 30%; }

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 6.8px;
  text-transform: uppercase;
  margin-top: 0px;
  padding-top: 40px;
  color: darkslategray; }

svg {
  color: darkslategray;
  height: 50px;
  transform: scale(1);
  transition: all 0.38s ease-in-out;
  cursor: pointer; }

svg:hover {
  transform: scale(1.36);
  color: #d9a5b2; }

nav {
  margin: 16px 24px 32px 24px;
  margin-bottom: 0px; }
  nav ul {
    list-style: none;
    display: inline-flex;
    padding: 0px;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px; }
  nav li {
    padding-right: 8px;
    font-weight: 300;
    color: darkslategray;
    font-size: 18px; }
  nav a {
    text-decoration: none;
    color: darkslategray; }
  nav a:visited {
    color: darkslategray;
    opacity: .8%; }
  nav a:hover {
    border-bottom: darkgoldenrod solid 1px;
    padding-bottom: 3px; }

form {
  text-align: center;
  margin-top: 64px;
  border-bottom: 2px solid darkgoldenrod;
  padding-bottom: 16px;
  margin-right: 144px;
  margin-left: 144px; }
  form input.search {
    width: 75vw;
    padding: 13px;
    border: 2px solid darkslategray;
    background-color: darkslategray;
    color: gainsboro;
    outline: none; }
  form ::placeholder {
    color: gainsboro;
    font-size: 11px;
    font-weight: 200;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif; }

i.fas.fa-search {
  padding-left: 5px;
  font-size: 1.3rem; }

i.fas.fa-chevron-left {
  padding-top: 2px;
  padding-right: 4px; }

button {
  border: none;
  outline: none;
  color: darkslategray;
  padding: 0px; }

button:hover {
  cursor: pointer; }

span.back {
  font-weight: 300;
  text-align: right; }

span {
  display: inline-flex; }

div.results-box {
  padding-top: 24px;
  margin-right: 144px;
  margin-left: 144px;
  display: contents; }
  div.results-box h2 {
    font-weight: 200;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    border-bottom: 2px solid darkgoldenrod;
    padding-bottom: 16px;
    margin-right: 224PX;
    margin-left: 224px;
    margin-bottom: 32px;
    margin-top: 48px; }
  div.results-box ul.results {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-right: 64px;
    margin-left: 64px; }
    div.results-box ul.results li {
      padding-bottom: 5px;
      font-weight: 200;
      font-size: 1.15rem;
      border: 2px solid darkslategray;
      color: gainsboro;
      margin-bottom: 5px;
      background-color: darkslategray;
      padding: 8px; }

table.results {
  width: 55vw;
  text-align: center;
  margin: auto; }

thead {
  text-align: left; }

th {
  padding-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: darkgoldenrod; }

td {
  padding-bottom: 16px;
  cursor: pointer; }
  td a {
    text-decoration: none;
    color: darkslategray; }
  td a:hover {
    text-decoration-color: darkgoldenrod !important;
    text-decoration: underline; }

tbody {
  text-align: left; }

h1#details {
  text-decoration: underline solid darkgoldenrod;
  font-size: 64px;
  padding-top: 48px; }

div.details {
  display: flex;
  width: 100wh;
  width: auto;
  margin: 88px;
  padding-top: 32px;
  position: relative;
  top: 0%; }
  div.details div.book-details {
    width: 50%;
    position: relative;
    top: 0%; }
    div.details div.book-details h3 {
      font-size: 56px;
      letter-spacing: 3.5px;
      font-style: italic;
      margin-bottom: 0px;
      font-weight: 400; }
    div.details div.book-details h4 {
      font-size: 28px;
      letter-spacing: 2.5px;
      font-weight: 200;
      margin-top: 8px;
      margin-bottom: 5px; }
    div.details div.book-details span p {
      margin-bottom: 0px;
      margin-top: 0px;
      padding-right: 10px;
      font-size: 16px;
      letter-spacing: 0px; }
    div.details div.book-details span p.more {
      text-decoration: underline darkgoldenrod solid;
      cursor: pointer;
      padding-left: 8px; }
    div.details div.book-details span a {
      color: darkslategray; }
    div.details div.book-details h5 {
      font-size: 18px;
      letter-spacing: 1.8px;
      font-weight: 200;
      margin-top: 8px; }
  div.details div.review {
    width: auto;
    position: relative;
    top: 0%;
    margin-top: 64px; }
    div.details div.review i.fas.fa-star.checked {
      cursor: pointer;
      color: goldenrod; }
    div.details div.review i.fas.fa-star.unchecked {
      cursor: pointer;
      color: darkslategray; }
    div.details div.review span {
      padding-left: 5px; }
    div.details div.review h2 {
      text-decoration: underline solid darkgoldenrod;
      letter-spacing: 2px;
      text-align: left; }
    div.details div.review h4 {
      margin-top: 28px;
      margin-bottom: 8px;
      font-size: 16px; }
    div.details div.review form.review {
      text-align: left;
      margin-top: 0px;
      border: none;
      margin: 0px; }
    div.details div.review textarea {
      margin: 0px;
      width: 340px;
      height: 180px;
      border: darkslategray solid 1px;
      outline: none;
      font-size: 14px;
      padding: 10px; }
    div.details div.review button {
      display: block;
      margin-top: 16px; }
    div.details div.review input {
      outline: none;
      border-radius: 5px;
      font-size: 16px;
      padding: 5px;
      border: darkslategray solid 1px;
      text-align: center;
      width: 80px;
      background-color: darkslategray;
      color: #FFEFD5;
      font-weight: 100;
      cursor: pointer; }
    div.details div.review .clicked {
      background-color: darkgoldenrod;
      border: darkgoldenrod solid 1px; }
  div.details div.cover-image {
    display: flex;
    width: 35%;
    height: 50%;
    margin: 0px;
    margin-right: 48px;
    position: relative;
    top: 0%; }
  div.details div.reviews {
    width: 100%;
    top: 9vh;
    position: relative;
    text-align: left; }
    div.details div.reviews div.row {
      height: 70vh; }
      div.details div.reviews div.row h2 {
        text-decoration: underline solid darkgoldenrod;
        letter-spacing: 5.5px;
        text-align: left;
        font-size: 48px; }

@media screen and (max-width: 360px) {
  body {
    margin: 5px; }
  nav {
    width: 325px;
    margin-top: 16px; }
    nav li {
      font-size: 18px;
      padding-right: 8px; }
  div {
    position: absolute;
    width: 340px;
    top: 30%; }
    div h1 {
      width: 342px;
      font-size: 30px;
      margin-right: 0px; }
      div h1 svg {
        height: 22px; }
    div form {
      margin-top: 40px;
      width: 300px;
      margin-left: 20px;
      margin-right: 0px; }
      div form input.search {
        height: 15px;
        padding-top: 0px;
        width: 250px;
        padding: 5px; }
      div form input::placeholder {
        font-size: 6px; }
      div form i.fas.fa-search {
        padding-left: 4px;
        font-size: 10px; } }

@media (min-width: 375px) {
  nav {
    width: 340px; }
  div {
    width: 360px; }
    div h1 {
      font-size: 35px; }
      div h1 svg {
        height: 45px; }
    div form {
      margin-left: 10px;
      margin-right: 0px;
      width: 340px; }
      div form input.search {
        width: 300px; } }

@media (min-width: 411px) {
  div {
    width: 360px; }
    div h1 {
      font-size: 35px;
      padding-left: 33px; }
      div h1 svg {
        height: 45px; }
    div form {
      margin-left: 35px;
      margin-right: 0px; }
      div form input.search {
        width: 67vw; }
      div form i.fas.fa-search {
        font-size: 1.2rem;
        padding-left: 5px; } }

@media (min-width: 767px) {
  nav {
    width: 730px; }
    nav li {
      font-size: 24px; }
  div {
    width: 750px; }
    div h1 {
      font-size: 49px;
      padding-left: 0px; }
    div form {
      width: 700px;
      margin-left: 30px; }
      div form input.search {
        width: 83vw; } }

@media (min-width: 1040px) {
  nav {
    width: 1380px; }
    nav li {
      font-size: 24px; }
  div {
    width: 1400px; }
    div h1 {
      font-size: 65px;
      padding-left: 0px; }
      div h1 svg {
        height: 60px; }
    div form {
      width: 1350px;
      margin-left: 30px; }
      div form input.search {
        width: 83vw; }
      div form i.fas.fa-search {
        font-size: 1.5rem;
        padding-left: 8px; } }

@media (min-width: 1440px) {
  nav {
    width: 1390px; }
    nav li {
      font-size: 22px; }
  div {
    width: 1400px; }
    div h1 {
      font-size: 65px;
      padding-left: 0px; }
      div h1 svg {
        height: 60px; }
    div form {
      margin-left: 30px;
      width: 1350px; }
      div form input.search {
        width: 83vw; }
      div form i.fas.fa-search {
        font-size: 1.5rem;
        padding-left: 8px; } }
