{% extends "search.html" %}

{% block body %}

<h1 id="details">Book Details</h1>

<div class="details">
    <div class="cover-image">
        <img src="http://covers.openlibrary.org/b/isbn/{{ isbn }}-L.jpg">
    </div>

    <div class="book-details">
        <h3>{{title}} ({{year}})</h3>
        <h4>by {{author}}<h4>
                <span>
                    <p> {{ data['books'][0]['work_reviews_count'] }} reviews</p>
                    <p> {{ data['books'][0]['average_rating'] }} out of 5</p>
                    <a href="#reviews">
                        <p class="more">SEE REVIEWS</p>
                    </a>
                </span>
                <h5>ISBN: {{isbn}}</h5>

                <div class="review">
                    <h2>LEAVE A REVIEW:</h2>
                    <form method="POST" class="review">

                        <p>

                            <i class="fas fa-star unchecked" id="one"></i>
                            <i class="fas fa-star unchecked" id="two"></i>
                            <i class="fas fa-star unchecked" id="three"></i>
                            <i class="fas fa-star unchecked" id="four"></i>
                            <i class="fas fa-star unchecked" id="five"></i>
                            <input id="out-of" style="background: none; border: none; color: darkslategray;"
                                name="rating">
                            </input>
                            <!-- <span id="out-of">0</span> -->
                        </p>


                        <h4>What did you think?</h4>
                        <textarea name="comment" id="" cols="30" rows="10"></textarea>
                        <button><input id="submit" type="submit" value="Submit"></button>
                    </form>
                </div>

                <div class="reviews" id="reviews">
                    <div class="row">
                        <h2>REVIEWS:</h2>
                        <table class="results">
                            <thead>
                                <tr>
                                    <th scope="col">DATE</th>
                                    <th scope="col">REVIEW</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in reviews %}
                                <tr>
                                    <td>
                                        {{item.date}}
                                    </td>
                                    <td>
                                        {{item.comment}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
    </div>



</div>



<script src="/static/js/styles.js"></script>

{% endblock %}