<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Manrope:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>Methodical Minds</title>
</head>

<body>

    <nav>
        <ul>
            <li>LOG IN</li>
            <li>REGISTER</li>
        </ul>
    </nav>

    <h1>Methodical Minds</h1>


</body>

</html> -->

{% extends "layout.html" %}


{% block heading %}
<nav>
    <ul>
        <li><a href="{{url_for('login')}}">LOG IN</a></li>
        <li><a href="{{url_for('register')}}">REGISTER</a></li>
    </ul>
</nav>

<h1>Methodical Minds</h1>
{% endblock %}

{% block body %}

{% endblock %}