<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Manrope:300,400,500,600,700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">

    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <link rel="icon" href="/brain-icon.png" type="image/png">
    {% endblock %}

    <title>Methodical Minds</title>
</head>

<body>
    {% block heading %} {% endblock %}

    {% block body %}
    {% endblock %}
</body>

</html>