{% extends "layout.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/signIn.css') }}">{% endblock %}




{% block body %}
<div class="login">

    <h1>Sign In</h1>


    <form action="loggedIn" method="POST">
        <!-- <form action="su"> -->
        <label>
            Email
            <input name="email" type="email" placeholder="Email" />
        </label>
        <label>
            Password
            <input name="password" type="password" placeholder="Password" />
        </label>
        <button type="submit">Sign In</button>
    </form>
    <p>Dont have an account? <a href="{{url_for('register')}}">REGISTER</a> </p>
</div>
{% endblock %}