{% extends "index.html" %}

{% block heading %}
<nav>
    <span class="back">
        <a href="{{url_for('index')}}"><i class="fas fa-chevron-left"></i></a>

        </i>
        <a href="{{url_for('index')}}">BACK</a>
    </span>
    <ul>
        <span>
            <li><a href="{{url_for('login')}}">LOG IN</a></li>
            <li><a href="{{url_for('register')}}">REGISTER</a></li>
        </span>
    </ul>
</nav>
{% endblock %}

{% block body %}
<h1>Methodical Minds</h1>

<div class="results-box">
    <h2>RESUTLTS FOUND:</h2>
    <table class="results">
        <thead>
            <tr>
                <th scope="col">ISBN</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
            </tr>
        </thead>
        <tbody>
            {% for item in result %}
            <tr>
                <td>{{item.isbn}}</td>
                <td>{{item.title}}</td>
                <td>{{item.author}}</td>
                <!-- <td></td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}