$primary-color:#FFEFD5;
$secondary-color:darkslategray;


* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: $primary-color

}
body{
    color: $secondary-color;

}
div {
    position: absolute;
    top: 30%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 6.8px;
    text-transform: uppercase;
    margin-top: 0px;
    padding-top: 40px;
    // color: #A0A0A0;
    color: $secondary-color;
}

svg {
    color: $secondary-color;
    height: 50px;
    // transition: all 0.7s;
    transform: scale(1);
    transition: all 0.38s ease-in-out;
    cursor: pointer;
}

svg:hover {
    transform: scale(1.36);
    color:#d9a5b2;
    // cursor: pointer;
}

 nav {
    // text-align: right;
    margin: 16px 24px 32px 24px;
    margin-bottom: 0px;

    ul {
        list-style: none;
        display: inline-flex;
        padding:0px;
        float: right;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    li {
        padding-right: 8px;
        font-weight: 300;
        // color: #999999;
        color: $secondary-color;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        // color: #999999;
        color: $secondary-color;
    }

    a:visited {
        // color: #999999;
        color: $secondary-color;
        opacity: .8%;
    }

    a:hover {
        border-bottom: darkgoldenrod solid 1px;
        padding-bottom: 3px;
    }
 }
form {
    text-align: center;
    margin-top: 64px;
    border-bottom: 2px solid darkgoldenrod;
    padding-bottom: 16px;
    margin-right: 144px;
    margin-left: 144px;
    
    input.search {
        width: 75vw;
        padding:13px;
        border: 2px solid $secondary-color;  
        background-color: $secondary-color;
        color: gainsboro;
        outline: none;
    }

    ::placeholder {
        color: gainsboro;
        font-size: 11px;
        font-weight: 200;
        text-transform: lowercase;
        font-style: italic;
        letter-spacing: 2px;
        font-family: 'Lato', sans-serif;
    }
}

i.fas.fa-search {
    padding-left: 5px;
    font-size: 1.3rem;
}

i.fas.fa-chevron-left {
    padding-top: 2px;
    padding-right: 4px;
}



button {
    border: none;
    outline: none;
    color: $secondary-color;
    padding: 0px;
}

button:hover {
    cursor: pointer;
}

span.back {
    font-weight: 300;
    text-align: right;

}

span {
    display: inline-flex;
}

div.results-box {
    // margin-left: 80px;
    padding-top: 24px;
    margin-right: 144px;
    margin-left: 144px;
    display: contents;

    h2 {
        font-weight: 200;
        font-family: 'Lato', sans-serif;
        font-size: 1.6rem;
        letter-spacing: 1px;
        border-bottom: 2px solid darkgoldenrod;
        padding-bottom: 16px;
        margin-right: 224PX;
        margin-left: 224px;
        margin-bottom: 32px;
        margin-top: 48px;
    }

    ul.results {
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-right: 64px;
        margin-left: 64px;
      
    
        li{
            padding-bottom: 5px;
            font-weight: 200;
            font-size: 1.15rem; 
            border: 2px solid $secondary-color;  
            color: gainsboro;
            margin-bottom: 5px;
            background-color: $secondary-color;
            padding: 8px;
        }
    
    }
}

table.results {
    width: 55vw;
    text-align: center;
    margin: auto;
}

thead {
    text-align: left;
}

th {
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: darkgoldenrod;
}

td {
    padding-bottom: 16px;
    cursor: pointer;

    a {
        text-decoration: none;
        color: $secondary-color;
    }

    a:hover {
        text-decoration-color: darkgoldenrod !important;
        text-decoration: underline;

    }
}


// td:hover {
//     text-decoration: underline;
//     text-decoration-color: darkgoldenrod !important;
// }

tbody {
    text-align: left;
}



// #BOOK DETAILS PAGE#

h1#details {
    text-decoration: underline solid darkgoldenrod;
    font-size: 64px;
    padding-top: 48px;
}

 div.details {
    display: flex;
    width: 100wh;
    width: auto;
    margin: 88px;
    padding-top: 32px;
    position: relative;
    top: 0%;

 
    div.book-details {
        width: 50%;
        position: relative;
        top: 0%;

        h3 {
            font-size: 56px;
            letter-spacing: 3.5px;
            font-style: italic;
            margin-bottom: 0px;
            font-weight: 400;
        }

        h4 {
            font-size: 28px;
            letter-spacing: 2.5px;
            font-weight: 200;
            margin-top: 8px;
            margin-bottom: 5px;
        }

        span {
            p {
                margin-bottom: 0px;
                margin-top: 0px;
                padding-right: 10px;
                font-size: 16px;
                letter-spacing: 0px;
            }

            p.more {
                text-decoration: underline darkgoldenrod solid;
                cursor: pointer;
                padding-left: 8px;
            }

            a {
                color: $secondary-color;
            }
        }

        h5 {
            font-size: 18px;
            letter-spacing: 1.8px;
            font-weight: 200;
            margin-top: 8px; 
        }
    }

    div.review {
        width: auto;
        position: relative;
        top: 0%;
        margin-top: 64px;

        i.fas.fa-star.checked {
            cursor: pointer;
            color: goldenrod;
        }
        i.fas.fa-star.unchecked {
            cursor: pointer;
            color: $secondary-color;
        }

        span {
            padding-left: 5px;
        }

        h2 {
            text-decoration: underline solid darkgoldenrod;
            letter-spacing: 2px;
            text-align: left;
        }

        h4 {
            margin-top: 28px;
            margin-bottom: 8px;
            font-size: 16px;
        }

        form.review {
            text-align: left;
            margin-top: 0px;
            border: none;
            margin: 0px;
        }

        textarea {
            margin: 0px;
            width: 340px;
            height: 180px;  
            border: darkslategray solid 1px;
            outline: none; 
            font-size: 14px;
            padding: 10px;             
        }

        button {
            display: block;
            margin-top: 16px;
        }

        input {
            outline: none;
            border-radius: 5px;
            font-size: 16px;
            padding: 5px;
            border: $secondary-color solid 1px;
            text-align: center;
            width: 80px;
            background-color: $secondary-color;
            color: #FFEFD5;
            font-weight: 100;
            cursor: pointer;
        }

        .clicked {
            background-color: darkgoldenrod;
            border: darkgoldenrod solid 1px;

        }
    }

    div.cover-image {
        display: flex;
        width: 35%;
        height: 50%;
        margin: 0px;
        margin-right: 48px;
        position: relative;
        top: 0%;
    }

    div.reviews {
        width: 100%;
        top: 9vh;
        position: relative;
        text-align: left;
    
        div.row {
            height: 70vh;
            h2 {
                text-decoration: underline solid darkgoldenrod;
                letter-spacing: 5.5px;
                text-align: left;
                font-size: 48px;
            }
        }
       
    }
}

